%h1.text-center All Alpha Bloggers
.row.margin-t10
  - @users.each do |user|
    .col-xs-8.col-xs-offset-2.col-md-4{ class:[ ("col-md-offset-4" if @users.length == 1),
                                              ("col-md-offset-0" if @users.length != 1)]}
      .well.text-center
        = link_to gravatar_for(user), user_path(user)
        %h4
          = link_to user.username, user_path(user)
        %small
          = pluralize(user.articles.count, "article") if user.articles