// To override libraries code needs to come BEFORE the library @import

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  opacity: 0.5;
  background: -webkit-linear-gradient(#333, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.article-description {
  min-height: 60px;
}

footer {
  margin-top: 50px;
  padding-top: 10px;
  border-top: 1px dotted #eee;
  color: #777;

  a:hover {
    color: #222;
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
  }
}

.article-actions {
  position: absolute;
  top: 5px;
  right: 20px;
}

.article-details {
  border-top: 1px dotted #d3d3d3;
  margin-top: 15px;
  padding-top: 10px;
}

.margin-t10 {
  margin-top: 10px;
}

.margin-r20 {
  margin-right: 20px;
}