// To override libraries code needs to come BEFORE the library @import

@import "bootstrap-sprockets";
@import "bootstrap";

footer {
  margin-top: 50px;
  padding-top: 10px;
  border-top: 1px dotted #eee;
  color: #777;

  a:hover {
    color: #222;
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
  }
}

.margin-t10 {
  margin-top: 10px;
}

.margin-r20 {
  margin-right: 20px;
}