<div class="container">
  <footer class="footer">
    <small>Created by <a href="http://www.renancastro.com">Renan Castro</a></small>
    <nav>
      <ul>
        <li><%= link_to "Articles", articles_path %></li>
      </ul>
    </nav>
  </footer>
</div>