.container
  %footer.footer
    %small
      Exercise from
      %a{:href => "https://www.udemy.com/the-complete-ruby-on-rails-developer-course/"} The Complete Ruby on Rails Developer Course
      implemented by
      %a{:href => "http://www.renancastro.com"} Renan Castro
    %nav
      %ul
        %li
          %a{ :href => "https://github.com/renandf/udemy-rails-alpha-blog", 
              :target => "_blank"} Project On Github
